<template>
  <div class="game">
    <!--button @click="serve">Serve</button-->
    <input v-model="server">
    <button @click="join">Join</button>
    <button @click="$router.push('/')">Leave game</button>
    <worldmap :name="name" :socket="socket" :players="players"></worldmap>
  </div>
</template>

<script>
import Worldmap from '@/components/Map'
import io from 'socket.io-client'
import Vue from 'vue'

export default {
  components: {
    Worldmap
  },
  props: ['name'],
  data() {
    return {
      socket: null,
      server: (location.origin + ':3000/').replace(':8080', ''),
      connected: false,
      players: {
        users: {}
      }
    }
  },
  methods: {
    serve() {
    },
    join() {
      if (!this.connected) {
        this.connected = true
        this.socket = io(this.server)
        this.socket.on('new', player => {
          this.createPlayer(player)
        })
        this.socket.on('x', player => {
          this.createPlayer(player)
          this.players.users[player.id].x = player.x
        })
        this.socket.on('y', player => {
          this.createPlayer(player)
          this.players.users[player.id].y = player.y
        })
        this.socket.on('name', player => {
          this.createPlayer(player)
          this.players.users[player.id].name = player.name
        })
        this.socket.on('image', player => {
          this.createPlayer(player)
          this.players.users[player.id].image = player.image
        })
        this.socket.on('direction', player => {
          this.createPlayer(player)
          this.players.users[player.id].direction = player.direction
        })
        this.socket.on('gone', player => {
          this.removePlayer(player)
        })
      }
    },
    createPlayer(player) {
      if (typeof this.players.users[player.id] === 'undefined') {
        this.players.users[player.id] = new Vue({
          data() {
            return {
              name: 'await',
              x: 0,
              y: 0,
              image: '',
              direction: 'still'
            }
          }
        })
      }
    },
    removePlayer(player) {
      if (typeof this.players.users[player.id] !== 'undefined') {
        delete this.players.users[player.id]
      }
    }
  }
}
</script>

<style scoped>
</style>
