<template>
  <div class="menu">
    <input v-model="name">
    <button @click="$router.push('/game/' + name)">Join Game</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: 'Tarzan'
    }
  }
}
</script>
