<template>
  <div
    class="map"
    :style="{
      left: 'calc(' + x + 'px + 50vw)',
      top: 'calc(' + y + 'px + 50vh)'
    }">
    <div style="position: fixed; right: 0; top: 0;">
      x: {{-x}} -  y: {{-y}}
    </div>
    <player :name="name" :socket="socket" @x="x = -$event"  @y="y = -$event"></player>
    <other
      :key="key" v-for="(player, key) in players.users"
      :player="player"
    ></other>
  </div>
</template>

<script>
import Player from '@/components/Player'
import Other from '@/components/Other'
export default {
  props: ['players', 'socket', 'name'],
  components: {
    Player,
    Other
  },
  data() {
    return {
      x: 0,
      y: 0
    }
  }
}
</script>

<style scoped>
.map {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: green;
  z-index: -1;
}
</style>
