<template>
  <div
    :style="{
      left: player.x + 'px',
      top: player.y + 'px',
    }"
    class="other">
    <div class="guy" :style="{
      width: '100px',
      height: '200px',
      background: player.direction === 'still' ? 'url(' + require('../assets/still.png') + ')' : 'url(' + require('../assets/walk.gif') + ')',
      backgroundSize: 'contain',
      transform: player.direction === 'left' || player.direction === 'down' ? 'scale(-1, 1)' : 'scale(1, 1)'
    }"></div>
    {{player.name}}
  </div>
</template>

<script>
export default {
  props: ['player'],
  data() {
    return {
    }
  }
}
</script>

<style scoped>
.other {
  position: relative;
  width: 100px;
  height: 100px;
}
.guy {
  background-size: contain!important;
}
</style>
