<template>
  <div
    class="player">
    <input
    style="margin-top: 50px"
      class="hidden"
      ref="player"
      v-on:keydown.up="startMove('up')"
      v-on:keydown.down="startMove('down')"
      v-on:keydown.left="startMove('left')"
      v-on:keydown.right="startMove('right')"
      v-on:keyup.up="stopMove('up')"
      v-on:keyup.down="stopMove('down')"
      v-on:keyup.left="stopMove('left')"
      v-on:keyup.right="stopMove('right')"
    >
    <div class="guy" :style="{
      width: '100px',
      height: '200px',
      background: direction === 'still' ? 'url(' + require('../assets/still.png') + ')' : 'url(' + require('../assets/walk.gif') + ')',
      backgroundSize: 'contain',
      transform: direction === 'left' || direction === 'down' ? 'scale(-1, 1)' : 'scale(1, 1)'
    }"></div>
    <b>{{name}}</b>
    <button @click="$refs.player.focus()">WALK</button>
  </div>
</template>

<script>
// https://i.gifer.com/8HC4.gif
export default {
  props: ['socket', 'name'],
  data() {
    return {
      x: 500,
      y: 500,
      direction: 'still',
      moving: false,
      speed: 5000, // Higher is faster
      minSpeed: 1000 // Higher is more smooth
    }
  },
  created () {
    this.move()
  },
  mounted() {
    this.$refs.player.focus()
    setInterval(() => {
      this.emit('name', this.name)
      this.emit('x', this.x)
      this.emit('y', this.y)
      this.emit('direction', this.direction)
    }, 10000)
  },
  methods: {
    emit(key, val) {
      if (this.socket) {
        this.socket.emit(key, val)
      }
    },
    stopMove(direction) {
      if (this.direction === direction) {
        this.moving = false
        this.direction = 'still'
      }
    },
    startMove(direction) {
      this.moving = true
      if (this.direction !== 'up' && direction === 'up') {
        this.direction = direction
        this.up()
      } else if (this.direction !== 'down' && direction === 'down') {
        this.direction = direction
        this.down()
      } else if (this.direction !== 'left' && direction === 'left') {
        this.direction = direction
        this.left()
      } else if (this.direction !== 'right' && direction === 'right') {
        this.direction = direction
        this.right()
      }
      this.direction = direction
    },
    up () {
      if (this.direction === 'up' && this.moving) {
        setTimeout(() => {
          this.y -= 1
          this.emit('y', this.y)
          this.up()
          this.move()
        }, this.minSpeed / this.speed)
      }
    },
    down () {
      if (this.direction === 'down' && this.moving) {
        setTimeout(() => {
          this.y += 1
          this.emit('y', this.y)
          this.down()
          this.move()
        }, this.minSpeed / this.speed)
      }
    },
    left () {
      if (this.direction === 'left' && this.moving) {
        setTimeout(() => {
          this.x -= 1
          this.emit('x', this.x)
          this.left()
          this.move()
        }, this.minSpeed / this.speed)
      }
    },
    right () {
      if (this.direction === 'right' && this.moving) {
        setTimeout(() => {
          this.x += 1
          this.emit('x', this.x)
          this.right()
          this.move()
        }, this.minSpeed / this.speed)
      }
    },
    move() {
      this.emit('direction', this.direction)
      this.$emit('x', this.x)
      this.$emit('y', this.y)
    }
  }
}
</script>

<style scoped>
.player {
  position: fixed;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
}
.guy {
  background-size: contain!important;
}
</style>
